body {
    font-family: sans-serif;
}
header{
    background-color: burlywood;
    color:rgb(149, 10, 10);
}
header img{
    border-radius:10px;
}
header a{
    color:green;
}
h1 {
    sans-serif:Georgia;
    color:magenta;
    text-decoration:underline;
    text-align: center;
}
footer p {
    text-decoration:underline;
    color:magenta;
}
nav a {
    font-size:15px;
    color:darkred;
}
nav {
    text-align:center;
}
p img{
    background-color: cyan;
}
main{
    padding:20px;
}
p {
    font-size: 20px;
}
h2 {
    text-decoration:underline;
    color:darkmagenta;
}
a {
   text-decoration:underline;
    color:darkblue; 
}
footer {
    border:3px solid darkmagenta
}
